#container {
	width: 990px;
	margin: 0 auto;
}

/* Sidebar */
#sidebar {
	background: #f7f7f7;
	width: 205px;
	border-right: 1px solid #ebebeb;
	float: left;
}

#logo {
	margin-left: 57px;
	padding-bottom: 28px;
	padding-top: 28px;
}

#nav ul li a {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	color: #333; /* text color */
	font-size: 15px;
	text-shadow: 0 1px 0 #fff; /* drop shadow */
	text-decoration: none;
	margin-left: 20px;
	margin-top: 15px;
}

#nav ul li img {
	float: right;
	margin-right: 21px;
	margin-top: 12px;
	margin-bottom: 11px;
}

#nav ul li:hover, #nav ul li.active {
	background: #fff;
	border-left: 5px solid #ea533f;
	border-right: none;
	border-top: none;
	border-bottom: none;
	cursor: pointer;
}

#nav ul li {
	border-right: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	height: 40px;
}

/*  Top Line */ 
#top-line {
	height: 51px;
	min-width: 786px;
	border-bottom: 1px solid #ebebeb;
}

#top-line #add-btn a img {
	margin: 18px;
}

#add-btn {

}

#notification-bar {
	float: right;
}

#notification-bar ul li{
	display: inline-block;
}

/* Container */
#container {}

.content-heading {
	margin-top: 26px;
	margin-bottom: 20px;
}

.content-heading a {
	margin-left: 31px;
	color: #e9533f; /* text color */
	font-family: "Roboto";
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

.content-heading img {
	margin-right: 13px;
}

.background-wrapper {
	border: 1px solid #ebebeb; /* stroke */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	width: 345px;
	float: left;
	margin-left: 32px;
}

.background-wrapper h2 {
	color: #656565; /* text color */
	font-family: "Roboto";
	font-size: 15px;
	margin-bottom: 12px;
	margin-left: 16px;
	margin-top: 28px;
}

.block-heading {
	color: #000; /* text color */
	font-family: "Roboto";
	font-size: 17px;
	margin-top: 20px;
	margin-left: 12px;
}

#block-content {
	float: left;
	width: 172px;
}

#block-content ul li {
	cursor: pointer;
}

#block-content ul li span {
	display: inline-block;
	margin-top: 20px;
	color: #1b69ad; /* text color */
	font-family: "Roboto";
	font-size: 14px;
	margin-left: 18px;
	margin-right: 18px;
	width: 23px;
}

#block-content ul li a {
	color: #656565; /* text color */
	font-family: "Roboto";
	font-size: 14px;
	text-decoration: none;
}

#block-discus {
	margin-top: 65px;
}

#block-discus ul li span {
	display: inline-block;
	margin-top: 20px;
	color: #1b69ad; /* text color */
	font-family: "Roboto";
	font-size: 14px;
	margin-right: 18px;
	width: 23px;
}

#block-discus ul li a {
	color: #656565; /* text color */
	font-family: "Roboto";
	font-size: 14px;
	text-decoration: none;
}

#block-discus ul li a.link-to-first {
	color:#1b6aad; 
}

#block-discus ul li a.link-to-second {
	color: #69ae30;
}

#block-discus ul li a.link-to-third {
	color: #f6810f;
}

#block-discus ul li a.link-to-fourth {
	color: #f55a5a;
}

#block-discus ul li {
	cursor: pointer;
}

#info {
	clear: both;
	margin-top: 34px;
	margin-left: 18px;
	color: #656565; /* text color */
	font-family: "Roboto";
	font-size: 13px;
	margin-bottom: 20px;
}

#info a {
	color: #4f83b9;
	text-decoration: none;
}

.background-wrapper form {
	margin-top: 16px;
}

.background-wrapper input[type='text'] {
	background-color: #f6f6f6; /* color overlay */
	border: 0;
	width: 312px;
	display: block;
	margin: 0 auto;
	padding-left: 11px;
	color: #656565; /* text color */
	font-family: "Roboto";
	font-size: 14px;
	height: 35px;
	margin-top: 7px;
}

.background-wrapper input[type='submit'] {
	border: 1px solid #e4422d; /* stroke */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #d7e1d9; /* layer fill content */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5NTMzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1NjQ1MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
	background-image: -moz-linear-gradient(bottom, #e9533f 0%, #f56451 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, #e9533f 0%, #f56451 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, #e9533f 0%, #f56451 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, #e9533f 0%, #f56451 100%); /* gradient overlay */
	height: 31px;
	width: 72px;
	color: #fff; /* text color */
	font-family: "Roboto";
	font-size: 14px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2); /* drop shadow */
	float: right;
	margin-top: 19px;
	margin-right: 9px;
	cursor: pointer;
	margin-bottom: 41px;
}

.save-btn {
	border: 1px solid #dedede; /* stroke */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #d7e1d9; /* layer fill content */
	margin-left: 12px;
	margin-right: 5px;
}

.trash-btn {
	border: 1px solid #dedede; /* stroke */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #d7e1d9; /* layer fill content */
}

.save-btn, .trash-btn {
	overflow: hidden;
	width: 37px;
	height: 29px;
	padding-left: 12px;
	padding-top: 7px;
	padding-right: 9px;
	padding-bottom: 6px;
	margin-top: 19px;
}

.background-wrapper img {
	float: right;
	margin-left: 6px;
}

.background-wrapper img:hover {
	cursor: pointer;
}

.background-wrapper .image-btns {
	margin-right: 26px;
	margin-top: 10px;
	margin-bottom: 5px;
	overflow: hidden;
}
/* Footer */
#footer {
	width: 786px;
	float: right;
	clear: both;
	height: 50px;
	border-top: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
}

#footer-info {
	float: left;
	width: 483px;
}

#footer-info img {
	float: left;
	margin-top: 20px;
	margin-left: 17px;
	margin-right: 17px;
}

#footer-info p a {
	color: #0d8bc7; /* text color */
	font-family: "Roboto";
	font-size: 15px;
	text-decoration: none;
	display: block;
	margin-top: 20px;
}

#footer-user-profile {
	width: 301px;
	float: right;
	border-left: 1px solid #ebebeb;
}

.user {
	color: #656565; /* text color */
	font-family: "Roboto";
	font-size: 15px;
	margin-right: 13px;
	float: left;
	margin-top: 20px;
}

.user-img {
	display: inline-block;
	float: left;
	margin-right: 13px;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 13px;
}

.power-btn {
	float: right;
	margin-top: 20px;
	margin-right: 17px;
}

.setting-btn {
	float: left;
	margin-top: 20px;
}